<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed Successfully</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <section class="order-details">
            <h3>Order Placed Successfully</h3>
            <p>Your payment has been successfully received. Sit back and relax while our delivery executive gets your order. Once the blood is cross-matched, it will be dispatched to you.</p>

            <table>
                <tr>
                    <th>Order ID</th>
                    <td>{{ order_id }}</td>
                </tr>
                <tr>
                    <th>Transaction ID</th>
                    <td>{{ phonepe_transaction_id }}</td>
                </tr>
                <tr>
                    <th>Transaction Status</th>
                    <td>Success</td>
                </tr>
                <tr>
                    <th>Blood Bag Price</th>
                    <td>{{ bb_price }}</td>
                </tr>
                <tr>
                    <th>Blood Group</th>
                    <td>{{ blood_group }}</td>
                </tr>
                <tr>
                    <th>Blood Component</th>
                    <td>{{ blood_component }}</td>
                </tr>
                <tr>
                    <th>Blood Quantity</th>
                    <td>{{ requested_quantity }}</td>
                </tr>
                <tr>
                    <th>Transaction Amount</th>
                    <td>{{ total_amt }}</td>
                </tr>
                <tr>
                    <th>Transaction Currency</th>
                    <td>INR</td>
                </tr>
                <tr>
                    <th>Transaction Date</th>
                    <td>{{ timestamp }}</td>
                </tr>
                <tr>
                    <th>Transaction Country</th>
                    <td>IND</td>
                </tr>
            </table>

            <p>Thank you for choosing TransfusioTrack! We appreciate your trust in us for your blood bag needs. Your order has been received successfully. Wishing you a swift recovery and good health. Get well soon!</p>
            <p>Best Regards, TransfusioTrack Team</p>
        </section>
    </div>
</body>
</html>
