<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified - Patient</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" href="static/images/LogoTT.png">
    <style>
        /* Your existing styles here */
    </style>
</head>
<body>
    <div class="container">
        <header>
            <a href="/" class="logo">Transfusio<span>Track</span></a>
            <div id="menu" class="fas fa-bars"></div>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/aboutus">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/pricing">Our Pricing</a>
                <a href="/guide">Explore Guide</a>
            </nav>
        </header>
        <section class="home">
            <div class="content">
                <h3>Email Verified</h3>
                <p>Your email has been successfully verified. You can now login to your account.</p>
            </div>
        </section>
        <section class="footer">
            <div class="credit">Created by <span> Team Transfusio </span> | All rights reserved to Ingle Laboratory</div>
        </section>
    </div>
    <script src="js/script.js"></script>
</body>
</html>
