<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="static/images/LogoTT.png">
    <style>
        /* Your existing styles here */
    </style>
</head>
<body>
    <div class="container">
        <header>
            <a href="/" class="logo">Transfusio<span>Track</span></a>
              <div id="menu" class="fas fa-bars" onclick="toggleNavbar()"></div>

        <!-- Define the navigation bar with links -->
        <nav class="navbar" id="navbar">
            <a href="/">Home</a>
            <a href="/aboutus">About Us</a>
            <a href="/contact">Contact Us</a>
            <a href="/pricing">Our Pricing</a>
            <a href="/guide">Explore Guide</a>
        </nav>
        </header>

    
 <script>
        function toggleNavbar() {
            var navbar = document.getElementById("navbar");
            if (navbar.classList.contains("active")) {
                navbar.classList.remove("active");
            } else {
                navbar.classList.add("active");
            }
        }
        </script>
        <section class="home">
            <div class="content">
                <h3>Verify your email</h3>
                <p>A verification link has been sent to <strong>{{ email }}</strong>. <br> <br>Please check your email inbox and click on the verification link to verify your email address.</p>
                <p>Once Verified you will be redirected to the login page</p>
            </div>
        </section>
        <section class="footer">
            <div class="credit">Created by <span> Team Transfusio </span> | All rights reserved to Ingle Laboratory</div>
        </section>
    </div>
    <script src="js/script.js"></script>
</body>
</html>
